---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { EDUCATION } from "@consts";

const allEducation = await getCollection("education");

const education = await Promise.all(
  allEducation
    .filter(item => item.data.type === "education")
    .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
    .map(async (item) => {
      const { Content } = await item.render();
      return { ...item, Content };
    }),
);

const certifications = await Promise.all(
  allEducation
    .filter(item => item.data.type === "certification")
    .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
    .map(async (item) => {
      const { Content } = await item.render();
      return { ...item, Content };
    }),
);
---

<PageLayout title={EDUCATION.TITLE} description={EDUCATION.DESCRIPTION}>
  <Container>
    <div class="space-y-12">
      <div>
        <div class="animate mb-6 font-semibold text-black dark:text-white">
          Educación
        </div>
        <div class="space-y-4">
          <ul class="flex flex-col space-y-4">
            {
              education.map((entry) => (
                <li class="animate">
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.institution}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.degree}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <div>
        <div class="animate mb-6 font-semibold text-black dark:text-white">
          Certificaciones
        </div>
        <div class="space-y-4">
          <ul class="flex flex-col space-y-4">
            {
              certifications.map((entry) => (
                <li class="animate">
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.institution}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.degree}</div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </Container>
</PageLayout>